{% include 'layouts/header.html' %}
    <section id="intros" class="clearfix xrb des3">
  <div class="dikort"> 
   <div class="alans1 fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ortala" style="color: #fff;display: inline-grid;">
          <div class="dikort modikort">
            <div class="paketbaslik">
              <i class="fas fa-newspaper"></i>
              <h1><b>Blog Yazıları</b></h1>
              <p>Sosyal medya hakkında yazmış olduğumuz blog yazıları. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>   
</div>
<div class="oval-head"></div>
</section>
<main id="main">
  <section id="bloglist" class="mb50 mobmb20" style="padding-top: 50px;">
    <div class="container">
      <div class="blogliste row" id="blogcek">
              </div>
    </div>
  </section>
</main>
{% include 'layouts/footer.html' %}
