{% include 'layouts/header.html' %}

<main id="main">
    <section id="icerikbolum" class="mb50 mobmb20">
      <div class="container">
        <div class="icicerik row">
          <div class="col-md-8 offset-md-2">
            <div class="iceriks keskin">
              <div class="icerikalan">
              <h2>Hizmet Şartları</h2>
            <p><h2><strong>HİZMET ŞARTLARI VE KULLANICI S&Ouml;ZLEŞMESİ</strong></h2>

<p>Sizler (Kullanıcı olarak anılacaktır) Site&rsquo;de sunulan t&uuml;m hizmetleri kullanırken aşağıdaki şartlara tabi olduğunuzu, Site&rsquo;deki hizmetten yararlanmakla ve kullanmaya devam etmekle; Bağlı olduğunuz yasalara g&ouml;re s&ouml;zleşme imzalama hakkına, yetkisine ve hukuki ehliyetine sahip ve 18 yaşın &uuml;zerinde olduğunuzu, bu s&ouml;zleşmeyi okuduğunuzu, anladığınızı ve s&ouml;zleşmede yazan şartlarla bağlı olduğunuzu kabul etmiş sayılırsınız.</p>

<p>İşbu s&ouml;zleşme taraflara s&ouml;zleşme konusu Site ile ilgili hak ve y&uuml;k&uuml;ml&uuml;l&uuml;kler y&uuml;kler ve taraflar işbu s&ouml;zleşmeyi kabul ettiklerinde bahsi ge&ccedil;en hak ve y&uuml;k&uuml;ml&uuml;l&uuml;kleri eksiksiz, doğru, zamanında, işbu s&ouml;zleşmede talep edilen şartlar d&acirc;hilinde yerine getireceklerini beyan ederler.</p>

<h3><strong>1. SORUMLULUKLAR</strong></h3>

<blockquote>
<p>1.1. Firma, fiyatlar ve sunulan &uuml;r&uuml;n ve hizmetler &uuml;zerinde değişiklik yapma hakkını her zaman saklı tutar.<br />
1.2. Firma, &uuml;yenin s&ouml;zleşme konusu hizmetlerden, teknik arızalar dışında yararlandırılacağını kabul ve taahh&uuml;t eder.<br />
1.3. Kullanıcı, Site&rsquo;nin kullanımında tersine m&uuml;hendislik yapmayacağını ya da bunların kaynak kodunu bulmak veya elde etmek amacına y&ouml;nelik herhangi bir başka işlemde bulunmayacağını aksi halde ve 3. Kişiler nezdinde doğacak zararlardan sorumlu olacağını, hakkında hukuki ve cezai işlem yapılacağını peşinen kabul eder.<br />
1.4. Kullanıcı, Site i&ccedil;indeki faaliyetlerinde, Site&rsquo;nin herhangi bir b&ouml;l&uuml;m&uuml;nde veya iletişimlerinde genel ahlaka ve adaba aykırı, kanuna aykırı, 3. kişilerin haklarını zedeleyen, yanıltıcı, saldırgan, m&uuml;stehcen, pornografik, kişilik haklarını zedeleyen, telif haklarına aykırı, yasa dışı faaliyetleri teşvik eden i&ccedil;erikler &uuml;retmeyeceğini, paylaşmayacağını kabul eder. Aksi halde oluşacak zarardan tamamen kendisi sorumludur ve bu durumda Site yetkilileri, bu t&uuml;r hesapları askıya alabilir, sona erdirebilir, yasal s&uuml;re&ccedil; başlatma hakkını saklı tutar. Bu sebeple yargı mercilerinden etkinlik veya kullanıcı hesapları ile ilgili bilgi talepleri gelirse paylaşma hakkını saklı tutar.<br />
1.5. Site&rsquo;nin &uuml;yelerinin birbirleri veya &uuml;&ccedil;&uuml;nc&uuml; şahıslarla olan ilişkileri kendi sorumluluğundadır.</p>

<h3>1.6 Kullanıcı reklam adı altında SMS bildirimlerini kabul eder. Tarafına sipariş onayı, sipariş iptali, sipariş tamamlanma ve &ouml;deme hatırlatma bildirimleri g&ouml;nderilecektir. Aynı zamanda indirim ve promosyon g&uuml;nlerinde kullanıcıya SMS g&ouml;nderimi yapılacaktır. İzinli data filtresi uygulanmaktadır. Sipariş veren her kullanıcı bu maddeyi kesinlikle kabul etmiş sayılacaktır.</h3>
</blockquote>

<p>&nbsp;</p>

<h3><strong>2. FİKRİ M&Uuml;LKİYET HAKLARI</strong></h3>

<blockquote>
<p>2.1. İşbu Site&rsquo;de yer alan unvan, işletme adı, marka, patent, logo, tasarım, bilgi ve y&ouml;ntem gibi tescilli veya tescilsiz t&uuml;m fikri m&uuml;lkiyet hakları Site işleteni ve sahibi firmaya veya belirtilen ilgilisine ait olup, ulusal ve uluslararası hukukun koruması altındadır. İşbu Site&rsquo;nin ziyaret edilmesi veya bu Site&rsquo;deki hizmetlerden yararlanılması s&ouml;z konusu fikri m&uuml;lkiyet hakları konusunda hi&ccedil;bir hak vermez.<br />
2.2. Site&rsquo;de yer alan bilgiler hi&ccedil;bir şekilde &ccedil;oğaltılamaz, yayınlanamaz, kopyalanamaz, sunulamaz ve/veya aktarılamaz. Site&rsquo;nin b&uuml;t&uuml;n&uuml; veya bir kısmı diğer bir internet sitesinde izinsiz olarak kullanılamaz.</p>
</blockquote>

<h3><strong>3. GİZLİ BİLGİ</strong></h3>

<blockquote>
<p>3.1. Firma, Site &uuml;zerinden kullanıcıların ilettiği kişisel bilgileri 3. kişilere a&ccedil;ıklamayacaktır. Bu kişisel bilgiler; kişi adı-soyadı, adresi, telefon numarası, cep telefonu, e-posta adresi gibi kullanıcıyı tanımlamaya y&ouml;nelik her t&uuml;rl&uuml; diğer bilgiyi i&ccedil;ermekte olup, kısaca gizli bilgiler olarak anılacaktır.</p>

<p>3.2. Kullanıcı, sadece tanıtım, reklam, kampanya, promosyon, duyuru vb. pazarlama faaliyetleri kapsamında kullanılması ile sınırlı olmak &uuml;zere, sitenin sahibi olan firmanın kendisine ait iletişim, portf&ouml;y durumu ve demografik bilgilerini iştirakleri ya da bağlı bulunduğu grup şirketleri ile paylaşmasına muvafakat ettiğini kabul ve beyan eder. Bu kişisel bilgiler firma b&uuml;nyesinde m&uuml;şteri profili belirlemek, m&uuml;şteri profiline uygun promosyon ve kampanyalar sunmak ve istatistiksel &ccedil;alışmalar yapmak amacıyla kullanılabilecektir.</p>

<p>3.3. Gizli bilgiler, ancak resmi makamlarca usul&uuml; dairesinde bu bilgilerin talep edilmesi halinde ve y&uuml;r&uuml;rl&uuml;kteki emredici mevzuat h&uuml;k&uuml;mleri gereğince resmi makamlara a&ccedil;ıklama yapılmasının zorunlu olduğu durumlarda resmi makamlara a&ccedil;ıklanabilecektir.</p>
</blockquote>

<h3><strong>4. GARANTİ</strong></h3>

<p>İşbu s&ouml;zleşme maddesi uygulanabilir kanunun izin verdiği azami &ouml;l&ccedil;&uuml;de ge&ccedil;erli olacaktır. Firma tarafından sunulan hizmetler olduğu gibi ve m&uuml;mk&uuml;n olduğu temelde sunulmakta ve pazarlanabilirlik, belirli bir amaca uygunluk veya ihlal etmeme konusunda t&uuml;m zımni garantiler de d&acirc;hil olmak &uuml;zere hizmetler veya uygulama ile ilgili olarak (Bunlarda yer alan t&uuml;m bilgiler d&acirc;hil) sarih veya zımni, kanuni veya başka bir nitelikte hi&ccedil;bir garantide bulunmamaktadır.</p>

<p>G&ouml;nderilen hizmetin (Takip&ccedil;i, beğeni, yorum vs.) sosyal ağ tarafından yapılan g&uuml;ncelleme ile d&uuml;şme, silinme riskleri bulunmaktadır, firmamız (ysrmediaglobal.com) bu konuda sorumluluk almamaktadır. Satın alan kişiler bunu kabul etmiş sayılır.&nbsp;</p>

<h3><strong>5. KAYIT VE G&Uuml;VENLİK</strong></h3>

<p>Kullanıcı, doğru, eksiksiz ve g&uuml;ncel kayıt bilgilerini vermek zorundadır. Aksi halde bu S&ouml;zleşme ihlal edilmiş sayılacak ve Kullanıcı bilgilendirilmeksizin hesap kapatılabilecektir.<br />
Kullanıcı, Site ve &uuml;&ccedil;&uuml;nc&uuml; taraf sitelerdeki şifre ve hesap g&uuml;venliğinden kendisi sorumludur. Aksi halde oluşacak veri kayıplarından ve g&uuml;venlik ihlallerinden veya donanım ve cihazların zarar g&ouml;rmesinden Firma sorumlu tutulamaz.</p>

<h3><strong>6. M&Uuml;CBİR SEBEP</strong></h3>

<p>Tarafların kontrol&uuml;nde olmayan; tabii afetler, yangın, patlamalar, i&ccedil; savaşlar, savaşlar, ayaklanmalar, halk hareketleri, seferberlik ilanı, grev, lokavt ve salgın hastalıklar, altyapı ve internet arızaları, elektrik kesintisi gibi sebeplerden (M&uuml;cbir sebep olarak anılacaktır) dolayı s&ouml;zleşmeden doğan y&uuml;k&uuml;ml&uuml;l&uuml;kler taraflarca ifa edilemez hale gelirse, taraflar bundan sorumlu değildir. Bu s&uuml;rede tarafların işbu s&ouml;zleşmeden doğan hak ve y&uuml;k&uuml;ml&uuml;l&uuml;kleri askıya alınır.</p>

<h3><strong>7. S&Ouml;ZLEŞMENİN B&Uuml;T&Uuml;NL&Uuml;Ğ&Uuml; VE UYGULANABİLİRLİK</strong></h3>

<p>İşbu s&ouml;zleşme şartlarından biri, kısmen veya tamamen ge&ccedil;ersiz hale gelirse, s&ouml;zleşmenin geri kalanı ge&ccedil;erliliğini korumaya devam eder.</p>

<h3><strong>8. S&Ouml;ZLEŞMEDE YAPILACAK DEĞİŞİKLİKLER</strong></h3>

<p>Firma, dilediği zaman Site&rsquo;de sunulan hizmetleri ve işbu s&ouml;zleşme şartlarını kısmen veya tamamen değiştirebilir. Değişiklikler Site&rsquo;de yayınlandığı tarihten itibaren ge&ccedil;erli olacaktır. Değişiklikleri takip etmek Kullanıcı&rsquo;nın sorumluluğundadır. Kullanıcı, sunulan hizmetlerden yararlanmaya devam etmekle bu değişiklikleri de kabul etmiş sayılır.</p>

<h3><strong>9. TEBLİGAT</strong></h3>

<p>İşbu s&ouml;zleşme ile ilgili taraflara g&ouml;nderilecek olan t&uuml;m bildirimler, Firma&rsquo;nın bilinen e-posta adresi ve Kullanıcı&rsquo;nın &uuml;yelik formunda belirttiği e-posta adresi vasıtasıyla yapılacaktır. Kullanıcı, &uuml;ye olurken belirttiği adresin ge&ccedil;erli tebligat adresi olduğunu, değişmesi durumunda 5 g&uuml;n i&ccedil;inde yazılı olarak diğer tarafa bildireceğini, aksi halde bu adrese yapılacak tebligatların ge&ccedil;erli sayılacağını kabul eder.</p>

<h3><strong>10. DELİL S&Ouml;ZLEŞMESİ</strong></h3>

<p>Taraflar arasında işbu s&ouml;zleşme ile ilgili işlemler i&ccedil;in &ccedil;ıkabilecek her t&uuml;rl&uuml; uyuşmazlıklarda tarafların defter, kayıt ve belgeleri ile ve bilgisayar kayıtları ve faks kayıtları 6100 sayılı Hukuk Muhakemeleri Kanunu uyarınca delil olarak kabul edilecek olup, Kullanıcı bu kayıtlara itiraz etmeyeceğini kabul eder.</p>

<h3><strong>11. UYUŞMAZLIKLARIN &Ccedil;&Ouml;Z&Uuml;M&Uuml;</strong></h3>

<p>İşbu s&ouml;zleşmenin uygulanmasından veya yorumlanmasından doğacak her t&uuml;rl&uuml; uyuşmazlığın &ccedil;&ouml;z&uuml;m&uuml;nde KKTC Adliyesi Mahkemeleri ve İcra Daireleri yetkilidir</p>
</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  {% include 'layouts/footer.html' %}